#team {
    width: 100%;
    padding: 120px 0;
    position: relative;
    overflow: hidden;
    .inner {
        width: 1180px;
        margin: 0 auto;
        h1 {
            font-weight: 700;
            font-size: 48px;
            color: $dark;
            margin-bottom: 80px;
        }
        .row {
            position: relative;
            &::after {
                @include clear();
            }
            span{
                @include text-style-16();                display: block;
                float: left;
                width: 580px;
                bottom: 0;
                padding-top: 80px;
            }
            p {
                @include text-style-24();
                float: left;
                width: 580px;
                font-weight: 700;
            }
        }
    }   
}

.president {
    position: relative;
    width: 100%;
    left: 280px;
    margin-bottom: 40px;
    overflow: hidden;
    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;
        &::after {
            @include clear();
        }
        article {
            float: left;
            width: 280px;
            &:nth-of-type(1) {
                margin-right: 40px;
                h2 {
                    @include text-style-24();
                    margin-bottom: 12px;
                }
                p {
                    @include text-style-16();
                    margin-bottom: 130px;
                }
                div {
                    position: relative;
                    a {
                        padding: 8px 4px;
                        margin-right: 20px;
                        color: $blue-dark;
                        
                    }
                }
            
            }
            &:nth-of-type(2) {
                .pic {
                    width: 280px;
                    overflow: hidden;
                    
                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                        
                    }
                }
            }
        }
    }
}

.member1 {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;
        &::after {
            @include clear();
        }
        article {
            float: left;
            width: 280px;
            &:nth-of-type(1) {
                margin-right: 20px;
                h2 {
                    @include text-style-24();
                    margin-bottom: 12px;
                }
                p {
                    @include text-style-16();
                    margin-bottom: 130px;
                }
                div {
                    position: relative;
                    &::after {
                        @include clear();
                    }
                    a {
                        display: block;
                        float: left;
                        padding: 8px 4px;
                        margin-right: 20px;
                        color: $blue-dark;
                        
                        
                    }
                }
            }
            &:nth-of-type(2) {
                margin-right: 20px;
                .pic {
                    width: 280px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                        
                    }
                }
            }
            &:nth-of-type(3) {
                // margin-right: 20px;
                .pic {
                    width: 280px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                        
                    }
                }
            }
            &:nth-of-type(4) {
                margin-left: 20px;
                h2 {
                    @include text-style-24();
                    margin-bottom: 12px;
                }
                p {
                    @include text-style-16();
                    margin-bottom: 130px;
                }
                div {
                    position: relative;
                    a {
                        padding: 8px 4px;
                        margin-right: 20px;
                        color: $blue-dark;
                       
                        
                    }
                }
            }
        }
    }
}

.member2 {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;
        &::after {
            @include clear();
        }
        article {
            float: left;
            width: 280px;
            &:nth-of-type(1) {
                margin-right: 20px;
                h2 {
                    @include text-style-24();
                    margin-bottom: 12px;
                }
                p {
                    @include text-style-16();
                    margin-bottom: 130px;
                }
                div {
                    position: relative;
                    &::after {
                        @include clear();
                    }
                    a {
                        display: block;
                        float: left;
                        padding: 8px 4px;
                        margin-right: 20px;
                        color: $blue-dark;
                        
                        
                    }
                }
            }
            &:nth-of-type(2) {
                margin-right: 20px;
                .pic {
                    width: 280px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                        
                    }
                }
            }
            &:nth-of-type(3) {
                // margin-right: 20px;
                .pic {
                    width: 280px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                        
                    }
                }
            }
            &:nth-of-type(4) {
                margin-left: 20px;
                h2 {
                    @include text-style-24();
                    margin-bottom: 12px;
                }
                p {
                    @include text-style-16();
                    margin-bottom: 130px;
                }
                div {
                    position: relative;
                    a {
                        padding: 8px 4px;
                        margin-right: 20px;
                        color: $blue-dark;
                       
                        
                    }
                }
            }
        }
    }
}

.member3 {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;
        &::after {
            @include clear();
        }
        article {
            float: left;
            width: 280px;
            &:nth-of-type(1) {
                margin-right: 20px;
                h2 {
                    @include text-style-24();
                    margin-bottom: 12px;
                }
                p {
                    @include text-style-16();
                    margin-bottom: 130px;
                }
                div {
                    position: relative;
                    &::after {
                        @include clear();
                    }
                    a {
                        display: block;
                        float: left;
                        padding: 8px 4px;
                        margin-right: 20px;
                        color: $blue-dark;
                        
                        
                    }
                }
            }
            &:nth-of-type(2) {
                margin-right: 20px;
                .pic {
                    width: 280px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                        
                    }
                }
            }
            &:nth-of-type(3) {
                // margin-right: 20px;
                .pic {
                    width: 280px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                        
                    }
                }
            }
            &:nth-of-type(4) {
                margin-left: 20px;
                h2 {
                    @include text-style-24();
                    margin-bottom: 12px;
                }
                p {
                    @include text-style-16();
                    margin-bottom: 130px;
                }
                div {
                    position: relative;
                    a {
                        padding: 8px 4px;
                        margin-right: 20px;
                        color: $blue-dark;
                       
                        
                    }
                }
            }
        }
    }
}

.member4 {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;
        &::after {
            @include clear();
        }
        article {
            float: left;
            width: 280px;
            &:nth-of-type(1) {
                margin-right: 20px;
                h2 {
                    @include text-style-24();
                    margin-bottom: 12px;
                }
                p {
                    @include text-style-16();
                    margin-bottom: 130px;
                }
                div {
                    position: relative;
                    &::after {
                        @include clear();
                    }
                    a {
                        display: block;
                        float: left;
                        padding: 8px 4px;
                        margin-right: 20px;
                        color: $blue-dark;
                        
                        
                    }
                }
            }
            &:nth-of-type(2) {
                margin-right: 20px;
                .pic {
                    width: 280px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                        
                    }
                }
            }
            &:nth-of-type(3) {
                // margin-right: 20px;
                .pic {
                    width: 280px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                        
                    }
                }
            }
            &:nth-of-type(4) {
                margin-left: 20px;
                h2 {
                    @include text-style-24();
                    margin-bottom: 12px;
                }
                p {
                    @include text-style-16();
                    margin-bottom: 130px;
                }
                div {
                    position: relative;
                    a {
                        padding: 8px 4px;
                        margin-right: 20px;
                        color: $blue-dark;
                       
                        
                    }
                }
            }
        }
    }
}

.member5 {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;
        &::after {
            @include clear();
        }
        article {
            float: left;
            width: 280px;
            &:nth-of-type(1) {
                margin-right: 20px;
                h2 {
                    @include text-style-24();
                    margin-bottom: 12px;
                }
                p {
                    @include text-style-16();
                    margin-bottom: 130px;
                }
                div {
                    position: relative;
                    &::after {
                        @include clear();
                    }
                    a {
                        display: block;
                        float: left;
                        padding: 8px 4px;
                        margin-right: 20px;
                        color: $blue-dark;
                        
                        
                    }
                }
            }
            &:nth-of-type(2) {
                margin-right: 20px;
                .pic {
                    width: 280px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                        
                    }
                }
            }
            &:nth-of-type(3) {
                // margin-right: 20px;
                .pic {
                    width: 280px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                        
                    }
                }
            }
            &:nth-of-type(4) {
                margin-left: 20px;
                h2 {
                    @include text-style-24();
                    margin-bottom: 12px;
                }
                p {
                    @include text-style-16();
                    margin-bottom: 130px;
                }
                div {
                    position: relative;
                    a {
                        padding: 8px 4px;
                        margin-right: 20px;
                        color: $blue-dark;
                       
                        
                    }
                }
            }
        }
    }
}
.member6 {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;
        &::after {
            @include clear();
        }
        article {
            float: left;
            width: 280px;
            &:nth-of-type(1) {
                margin-right: 20px;
                h2 {
                    @include text-style-24();
                    margin-bottom: 12px;
                }
                p {
                    @include text-style-16();
                    margin-bottom: 130px;
                }
                div {
                    position: relative;
                    &::after {
                        @include clear();
                    }
                    a {
                        display: block;
                        float: left;
                        padding: 8px 4px;
                        margin-right: 20px;
                        color: $blue-dark;
                        
                        
                    }
                }
            }
            &:nth-of-type(2) {
                margin-right: 20px;
                .pic {
                    width: 280px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                        
                    }
                }
            }
            &:nth-of-type(3) {
                // margin-right: 20px;
                .pic {
                    width: 280px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                        
                    }
                }
            }
            &:nth-of-type(4) {
                margin-left: 20px;
                h2 {
                    @include text-style-24();
                    margin-bottom: 12px;
                }
                p {
                    @include text-style-16();
                    margin-bottom: 130px;
                }
                div {
                    position: relative;
                    a {
                        padding: 8px 4px;
                        margin-right: 20px;
                        color: $blue-dark;
                       
                        
                    }
                }
            }
        }
    }
}
